@keyframes zoom-in {
	from {
		scale: var(--view-transition-zoom-in-scale, 0.96);
		filter: blur(var(--view-transition-zoom-in-blur, 16px));
	}
}

@keyframes zoom-out {
	to {
		scale: var(--view-transition-zoom-out-scale, 0.9);
		filter: blur(var(--view-transition-zoom-out-blur, 16px));
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}
