@keyframes zoom-in {
	from {
		scale: 0.96;
		filter: blur(16px);
	}
}

@keyframes zoom-out {
	to {
		scale: 0.9;
		filter: blur(16px);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}
