@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import './vision-pro-ui.css';

@theme {
	--color-foreground: --alpha(var(--color-white) / 90%);
	--color-foreground-muted: --alpha(var(--color-white) / 70%);
	--color-primary: var(--color-white);
	--color-primary-foreground: var(--color-black);
	--color-destructive: var(--color-red-600);
	--color-destructive-foreground: var(--color-white);
}

html {
	scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
	margin-right: 0px !important;
	--removed-body-scroll-bar-size: 0px !important;
}
