@media not (prefers-reduced-motion: reduce) {
	:active-view-transition [data-slot='stack-root'] {
		view-transition-name: stack-root;
		view-transition-class: stack-root;
	}
	:active-view-transition::view-transition-old(stack-root),
	:active-view-transition::view-transition-new(stack-root) {
		--view-transition-zoom-in-scale: 0.997;
		--view-transition-zoom-out-scale: 0.98;
		--view-transition-zoom-in-blur: 3px;
		--view-transition-zoom-out-blur: 3px;
	}
}

:active-view-transition::view-transition-old(stack-root) {
	animation:
		0.375s cubic-bezier(0.4, 0, 0.2, 1) both zoom-out,
		0.375s cubic-bezier(0.4, 0, 0.2, 1) both fade-out;
}
:active-view-transition::view-transition-new(stack-root) {
	animation:
		0.375s cubic-bezier(0.4, 0, 0.2, 1) 0.08s both zoom-in,
		0.375s cubic-bezier(0.4, 0, 0.2, 1) 0.08s both fade-in;
}
