[data-vision-os-ui],
[data-vision-os-ui] * {
  font-family: "SF Pro", "Inter", sans-serif;
}

[data-vision-os-ui] a {
  display: inline-block;
}

[data-vision-os-ui] .hide-scrollbar {
  scrollbar-width: none;
}

[data-vision-os-ui] .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

[data-vision-os-ui] *::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

[data-vision-os-ui] * {
  cursor: none !important;
}
